.hidden-xs.hidden-sm.col-md-4.col-md-offset-1
  = image_tag "/images/secure/dast-findings-detail.png", class: "hidden-xs", alt: "Gitlab Dynamic Application Security Testing", style: "margin-top: 50px;"
.col-xs-12.col-md-6
  %h2 Dynamic Application Security Testing (DAST)
  %p
  %ul
    %li
      Dynamic scanning earlier in the SDLC than ever possible, by leveraging the review app CI/CD capability of GitLab.
    %li
      Test running web applications for known runtime vulnerabilities.
    %li
      Users can provide HTTP credentials to test private areas.
    %li
      Vulnerabilities are shown in-line with every merge request.
%hr.divider
