---
layout: default
title: GitLab Pre-Sales Resource
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab PreSales Resource

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-md-10.col-md-offset-1
          .content-section
            %p Are you a partner and have an opportunity we can work together? Maybe you are looking for some enablement and want to learn more on how to better align selling with GitLab. Feel free to reach out via this form, even if it is to do some account planning. We'd love to engage with you and help customers be more successful in DevOps.<br><br>Please note, due to privacy and confidentiality reasons, we may not be able to disclose some customer information but we will try our best to help where we can.

  #form.form-content-container
    .container
      %h2.centered-form-title Engage with GitLab Sellers.
      .centered-form
        %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
        %form#mktoForm_2066
        :javascript
          MktoForms2.setOptions(
          {
            formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
          });
          MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 2066, function(form) {
            form.onSuccess(function() {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
              return false;
            });
          });
    .confirmform{ style: "visibility:hidden;" }
      .col-md-4.col-md-4.col-md-offset-1
        %h3.centered-form-title Thank you for interest!
        %p.centered-form-title Your request has been received. We will be intouch shortly and look forward to working with you.
